<div class="dialog-container">

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  
    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content>
  
      <!-- Address-->
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Street + House No.</mat-label>
          <input [disabled]="isLoading" matInput placeholder="Placeholder" [(ngModel)]="user.street">
        </mat-form-field>
      </div>
  
      <!-- City -->
      <div>
        <mat-form-field appearance="outline" class="mr-16">
          <mat-label>Zip Code</mat-label>
          <input [disabled]="isLoading" matInput #postalCode maxlength="5" placeholder="Ex. 94105"
            [(ngModel)]="user.zipCode">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input [disabled]="isLoading" matInput placeholder="Placeholder" [(ngModel)]="user.city">
        </mat-form-field>
      </div>
  
  
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" [disabled]="isLoading">Cancel</button>
      <button mat-button (click)="saveUser()" [disabled]="isLoading" cdkFocusInitial>Save</button>
    </div>
  
  </div>
