<mat-drawer-container class="example-container" autosize style="height: 100vh;">

  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container">Foto für Logo</div>

    <ul>
      <li>
        <a routerLink="dashboard">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="user">
          <mat-icon>perm_identity</mat-icon> User
        </a>
      </li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- menu -->
        <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <!-- h1 -->
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

    <button mat-fab color="primary" class="add-icon" matTooltip="add new user">
      <mat-icon>add</mat-icon>
    </button>

  </div>

</mat-drawer-container>