<mat-drawer-container class="example-container" autosize style="height: 100vh;">

  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container">Foto für Logo</div>
    
    <ul>
      <li>
        <mat-icon>dashboard</mat-icon> Dashboard
      </li>
      <li>
        <mat-icon>perm_identity</mat-icon> User
      </li>
    </ul>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- menu -->
        <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <!-- h1 -->
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</mat-drawer-container>